*{
	padding: 0em;
	margin :0em;
}
@font-face {
	font-family: <un-nombre-de-fuente-remota>;
	src: <origen> [,<origen>]*;
	[font-weight:<peso>];
	[font-style:<estilo>];
}

body{

	font-family: "chaketmedium", helvetica, verdana;
	background: #FFFFFF;
	color: #FFFFFF;
	font-size: 2em; 
}
h1{
	color: #F0B429;
	margin: 0.25em auto;
	text-align: center;
	text-shadow: 5px 5px 10 px rgba(255,255,255,0.5);

}
h3{color: #000000;
	margin: 0.25em auto;
	text-align: center;
	text-shadow: 5px 5px 10 px rgba(255,255,255,0.5)}
header{
	background:  #005883;
	border-radius: 1em;
	margin: 0em auto;
	max-width: 960px;
	padding: 0.5em;
	text-align: center;
}
nav{
	color: #FFFFFF; 
	background:  #F47920;
	border-radius: 0.5em;
	margin: 0em auto;
	max-width: 960px;
	padding: 0.3em;
	text-align: center;
}
section#contenedor{
	background: #FFFFFF;
	margin:0.5em auto;
	max-width: 960px;
	padding: 0;
	text-align: center;
}
section#principal, aside{
	background: #F47920;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0.2em auto;
	max-width: 960;
	max-height: 2000px;
	vertical-align: top;
	width: 65%;
}
article{
	background: #005883;
	border-radius: 0.5em;
	min-height: 200px;
	padding: 0.25em;
}
aside{
	background: #F0B429;
	width: 30%;
	color: #000000;
}
footer{
	background:  #F0B429;
	border-radius: 0.5em;
	margin: 0.2em auto;
	max-width: 960px;
	padding: 0.5em;
	text-align: center;
	color: #000000;
}
